
.top-panel
{
    display: flex;
    flex-direction: row;
}

.top-panel div.top-panel-left {
    order: 0;
    flex: 1 1 auto;
}

.top-panel div.top-panel-center {
    order: 0;
    flex: 6 1 auto;
}

.top-panel div.top-panel-right {
    order: 0;
    flex: 1 1 auto;
}

.center-heading{
    margin: auto;
    margin-top: 10px;
    text-align:center;
}